body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 11pt;
    background-color: #ECE9E0;
    color: #333;
}
table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    text-align: left;
    border-collapse: separate;
    border-spacing: 5px;
    background: #D3C084;
    color: #656665;
    border: 16px solid #D3C084;
    border-radius: 20px;
}
th {
    font-size: 18px;
    padding: 10px;
}
td {
    background: #F5D7BF;
    padding: 10px;
}
input[type=button], input[type=submit], input[type=reset] {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    background: #D3C084;
    border: none;
    color: #656665;
    font-size: 14px;
    padding: 10px 26px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
input[type=datetime-local] {
    border: 2px solid #656665;
    border-radius: 4px;
    height: 32px;
}
input[type=text]:focus {
    border: 2px solid #F5D7BF;
}
input[type=text] {
    border: 2px solid #656665;
    border-radius: 4px;
    height: 32px;
}
input[type=text]:focus {
    border: 2px solid #F5D7BF;
}
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    apperance: button;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    background: #D3C084;
    border: none;
    color: #656665;
    font-size: 14px;
    padding: 10px 26px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}